<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><block name="title"></block></title>
        <link rel="stylesheet" type="text/css" href="__CSS__/normalize.css">
        <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="__CSS__/jlkx.css">
        <block name="css"></block>
    </head>
    <body>
        <block name="nav">
            <div class="nav">
                <div class="container nav_ct">
                    <div class="row nav_row">
                        <div class="col-md-2 "><img src="__IMG__/logo.jpg"></div>
                        <div class="col-md-1 col-md-offset-2 item"><a href="index.html">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></div>
                        <div class="col-md-1 item active"><a href="index.html?1">公司介绍</a></div>
                        <div class="col-md-1 item"><a href="index.html?2">管理团队</a></div>
                        <div class="col-md-1 item"><a href="index.html?3">核心技术</a></div>
                        <div class="col-md-1 item"><a href="index.html?4">战略伙伴</a></div>
                        <div class="col-md-1 item"><a href="index.html?5">公司愿景</a></div>
                        <div class="col-md-1 item"><a href="index.html?6">行业动态</a></div>
                        <div class="col-md-1 item"><a href="index.html?7">联系我们</a></div>
                    </div>
                </div>
            </div>
        </block>
        <block name="content"></block>
        <block name="footer"></block>
        <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
        <block name="js"></block>
    </body>
</html>